.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogs_items {
  padding: 15px;
}
.dialogs_items a{
  text-decoration: none;
  color: gray;
}
.dialogs_items a.activeLink{
  text-decoration: none;
  color: black;
}
.dialog {
  padding: 10px;
}
.messages {
  padding: 15px;
  border: 1px solid green;
}
.message {
  color: black;
  padding: 10px;
}
